<luar-crud crud="ctrl" title="Cadastro de Bancos">

    <luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="CODIGO" title="Código" searchable="true"></column>
        <column id="NOME" title="Nome" searchable="true"></column>
        <column id="NUMERO_CONTA" title="Número da Conta" searchable="true"></column>
        <column id="COD_CADCAMARACOMPENSACAO" title="Banco"></column>
        <luar-table></luar-table>
    </luar-list>

    <luar-main-form ng-show="Cadastro">
        <tabset>
            <tab heading="Dados Gerais">
                <tab-heading> Dados Gerais </tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Código" name="codigo" type="number" required
                                   ng-model="ctrl.currentRecord.CODIGO">
                        </luar-text>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-12" label="Nome" maxlength="40" required
                                   name="NOME" ng-model="ctrl.currentRecord.NOME">
                        </luar-text>
                    </div>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Câmara de Compensação" type="number"
                                   name="Banco" ng-model="ctrl.currentRecord.COD_CADCAMARACOMPENSACAO">
                        </luar-text>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-3" label="Tipo" name="Tipo" maxlength="1"
                                   ng-model="ctrl.currentRecord.TIPO">
                        </luar-text>

                        <luar-text container-class="col-md-3" label="telefone" name="telefone"
                                   ng-model="ctrl.currentRecord.FONE">
                        </luar-text>
                    </div>
                    
                </fieldset>
            </tab>
        </tabset>

    </luar-main-form>

</luar-crud>




