<luar-crud crud="ctrl" title="Condições de Pagamento">

    <luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="NOME" title="Nome" searchable="true"></column>
        <column id="TIPO" title="Tipo" searchable="true"></column>
        <column id="ACRESCIMO_DESCONTO" title="Acréscimo/Desconto" searchable="true"></column>
        <column id="PERC_ACRES_DESCONTO" title="Perc Acréscimo/Desconto" searchable="true"></column>
        <luar-table></luar-table>
    </luar-list>

    <luar-main-form ng-show="Cadastro">
        <tabset>
            <tab heading="Dados Gerais">
                <tab-heading> Dados Gerais </tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Nome" name="nome"
                                   ng-model="ctrl.currentRecord.NOME"></luar-text>
                    </div>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Tipo" required name="tipo"
                                   ng-model="ctrl.currentRecord.TIPO"></luar-text>
                    </div>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Acrescimo/Desconto" name="acrescimoDesconto"
                                   ng-model="ctrl.currentRecord.ACRESCIMO_DESCONTO"></luar-text>
                    </div>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Perc Acrescimo/Desconto" name="perAcrescimoDesconto"
                                   ng-model="ctrl.currentRecord.PERC_ACRES_DESCONTO"></luar-text>
                    </div>

                </fieldset>
            </tab>

            <tab heading="Dias">
                <fieldset>

                    <button type="button" data-action="newRow" class="btn btn-primary btn-sm" ng-if="!ctrl.bNovoItem"
                            ng-click="formitens.$setDirty(); ctrl.AddItem()">
                        <b>+</b>Novo Item
                    </button>

                    <div ng-if="ctrl.bNovoItem">

                        <div class="row">
                            <luar-text container-class="col-md-3" label="Dias" name="DIAS" type="number"
                                    ng-model="ctrl.NovoItemDIAS"></luar-text>
                        </div>

                        <div class="modal-footer">
                            <span class="pull-left">
                                <button class="btn btn-sm btn-primary hidden-print" ng-click="ctrl.ConfirmarItem()" ng-disabled="!ctrl.ItemOK()" ><span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
                                <button class="btn btn-sm btn-warning hidden-print" ng-click="ctrl.CancelarItem()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                            </span>
                        </div>

                    </div>

                    <table class="table" ng-form="formitens" ng-if="!ctrl.bNovoItem">
                        <thead>
                            <tr>
                                <th class="text-left">Dias</th>
                                <th class="text-left">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ctrl.currentRecord.lista_dias | orderBy:'DIAS'" ng-if="item.FlagExcOrAlter!='E'" >                                
                                <td>
                                    {{item.DIAS}}
                                </td>
                                <td>
                                    <button data-action="removeRow" class="btn btn-danger  btn-sm hidden-print" 
                                            ng-click="formitens.$setDirty(); ctrl.removeItens(item,ctrl.SweetAlert)">
                                    <span class="glyphicon glyphicon-trash"></span> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </tab>
        </tabset>

    </luar-main-form>

</luar-crud>




