<luar-crud crud="ctrl" title="Nota de Serviço - NFS-e">

    <luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="NUMERO" title="Nro Nota" searchable="true"></column>
        <column id="SERIE" title="Série" searchable="false"></column>
        <column id="DATA_EMISSAO" title="Data Emissão" searchable="true" type="date"></column>
        <column id="DATA_VENCIMENTO" title="Data Vencimento" searchable="true" type="date"></column>
        <column id="VALOR_TOTAL" title="Valor Total" searchable="false"></column>
        <column id="VALOR_LIQUIDO" title="Valor Liquido" searchable="false"></column>
        <column id="SITUACAO" title="Situação" searchable="true"></column>
        <column id="COD_CADCLI" title="Cliente" searchable="true"></column>
        <luar-table></luar-table>
    </luar-list>

    <luar-main-form ng-show="Cadastro">

        <button type="button" data-action="newRow" class="btn btn-primary btn-sm"
                ng-click="ctrl.EmitirNFSe()">
            Emitir NFS-e
        </button>

        <button type="button" data-action="newRow" class="btn btn-primary btn-sm"
                ng-click="ctrl.CancelarNFSe()">
            Cancelar NFS-e
        </button>

        <button type="button" data-action="newRow" class="btn btn-primary btn-sm"
                ng-click="ctrl.ConsultarNFSe()">
            Consultar NFS-e
        </button>
      
        <tabset>
            <tab heading="Dados Gerais">
                <tab-heading> Dados Gerais </tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-1" label="Série" maxlength="5" required name="serie" ng-model="ctrl.currentRecord.SERIE">
                        </luar-text>
                        <luar-text container-class="col-md-2" label="Nro Nota" readonly name="codigo" ng-model="ctrl.currentRecord.NUMERO">
                        </luar-text>
                        <luar-textdata required container-class="col-md-2" label="Data Emissão"
                                       name="dataemissao" ng-model="ctrl.currentRecord.DATA_EMISSAO">
                        </luar-textdata>
                        <luar-textdata required container-class="col-md-2" label="Data Vencimento"
                                       name="datavencimento" ng-model="ctrl.currentRecord.DATA_VENCIMENTO">
                        </luar-textdata>
                    </div>

                    <div class="row">
                        <luar-select container-class="col-md-3" label="Condição de Pagamento" name="COD_CADCPAG" required
                                     ng-options="item.id as item.NOME for item in ::ctrl.CondPagamentoLook"
                                     ng-model="ctrl.currentRecord.COD_CADCPAG">
                        </luar-select>

                        <luar-select container-class="col-md-3" label="Local Cobrança" name="COD_CADBANCO" required
                                     ng-options="item.id as item.NOME for item in ::ctrl.CadBancoLook"
                                     ng-model="ctrl.currentRecord.COD_CADBANCO">
                        </luar-select>

                        <luar-select container-class="col-md-2" label="Mês Competência" name="MES_COMPETENCIA"
                                     ng-options="item.id as item.NOME for item in ::ctrl.MesesLook"
                                     ng-model="ctrl.currentRecord.MES_COMPETENCIA">
                        </luar-select>

                        <luar-select container-class="col-md-2" label="Ano Competência" name="ANO_COMPETENCIA"
                                     ng-options="item.id as item.NOME for item in ::ctrl.AnosLook"
                                     ng-model="ctrl.currentRecord.ANO_COMPETENCIA">
                        </luar-select>

                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-8" label="Cliente"
                                   name="COD_CADCLI" required style="display:none" ng-model="ctrl.currentRecord.COD_CADCLI">
                        </luar-text>

                        <luar-text container-class="col-md-2" label="Cidade"
                                   name="CID" required style="display:none" ng-model="ctrl.currentRecord.CID">
                        </luar-text>

                        <luar-text container-class="col-md-2" label="Estado"
                                   name="EST" required style="display:none" ng-model="ctrl.currentRecord.EST">
                        </luar-text>

                        <div class="col-md-8 ng-scope" name="cliente">
                            <md-autocomplete flex
                                             md-selected-item="ctrl.selectedItem"
                                             md-search-text="ctrl.searchText"
                                             md-selected-item-change="ctrl.selectedItemChange(item)"
                                             md-items="item in ctrl.querySearch(ctrl.searchText)"
                                             md-item-text="item.NOM"
                                             md-delay="300"
                                             md-min-length="2"
                                             placeholder="Pesquisar Clientes">
                                <div layout="row" class="item" layout-align="start center">
                                    <span md-highlight-text="ctrl.searchText">{{item.NOM}}</span>
                                </div>
                            </md-autocomplete>
                        </div>

                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="ctrl.currentRecord.CID">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="ctrl.currentRecord.EST">
                        </div>
                    </div>

                    <div class="row">
                        <luar-textvalor container-class="col-md-2" label="Valor Total" required name="valorTotal"
                                        ng-model="ctrl.currentRecord.VALOR_TOTAL">
                        </luar-textvalor>
                        <luar-textvalor container-class="col-md-2" label="Valor Liquido" required name="valorLiquido"
                                        ng-model="ctrl.currentRecord.VALOR_LIQUIDO">
                        </luar-textvalor>
                        <luar-textvalor container-class="col-md-2" label="Valor Desconto" name="valorDesconto"
                                        ng-model="ctrl.currentRecord.VALOR_DESCONTO">
                        </luar-textvalor>

                        <luar-select container-class="col-md-6" label="Natureza" name="NATUREZA_OPERACAO"
                                     ng-options="item.id as item.DESCRICAO for item in ::ctrl.NaturezaLook"
                                     ng-model="ctrl.currentRecord.NATUREZA_OPERACAO">
                        </luar-select>
                    </div>

                    <div class="row">
                        <luar-select container-class="col-md-6" label="Tipo de Serviço" name="COD_CADSERVICO" ng-disabled="ctrl.DesabilitaServico"
                                     ng-options="item.id as item.NOME for item in ::ctrl.CadServicoLook"
                                     ng-model="ctrl.currentRecord.COD_CADSERVICO" ng-change="ctrl.ChangeCOD_CADSERVICO()">
                        </luar-select>
                    </div>

                    <tabset>
                        <tab heading="Contratos/Serviço">
                            <tab-heading> Contratos/Serviço </tab-heading>
                            <fieldset>
                                <button type="button" data-action="newRow" class="btn btn-primary btn-sm" ng-if="ctrl.bOperacaoItem == 'L'"
                                        ng-click="formitens.$setDirty(); ctrl.AddItem()">
                                    <b>+</b>Novo Item
                                </button>

                                <div ng-if="ctrl.bOperacaoItem != 'L'">
                                    <div class="row">
                                        <luar-select container-class="col-md-2" label="Contratos" name="MONTANTE"
                                                     ng-options="item as item.CODIGO for item in ctrl.FatMontanteLook"
                                                     ng-model="ctrl.ItemSelecionado" ng-change="ctrl.MontanteSelecionado(ctrl.ItemSelecionado)">
                                        </luar-select>

                                        <luar-textvalor container-class="col-md-2" label="Quantidade" name="QUANTIDADE"
                                                        ng-model="ctrl.NovoItem.QUANTIDADE">
                                        </luar-textvalor>
                                        <luar-textvalor container-class="col-md-2" label="Preço Unitário" name="VALOR_UNITARIO"
                                                        ng-model="ctrl.NovoItem.PRECO_UNITARIO">
                                        </luar-textvalor>
                                    </div>
                                    <div class="row">
                                        <luar-textarea container-class="col-md-12" label="Discriminação do Serviço" style="height: 150px"
                                                       name="DESCRICAO"
                                                       ng-model="ctrl.NovoItem.DESCRICAO">
                                        </luar-textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <span class="pull-left">
                                            <button class="btn btn-sm btn-primary hidden-print" ng-click="ctrl.ConfirmarItem()" ng-disabled="!ctrl.ItemOK()"><span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
                                            <button class="btn btn-sm btn-warning hidden-print" ng-click="ctrl.CancelarItem()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                                        </span>
                                    </div>
                                </div>

                                <table class="table" ng-form="formitens" ng-if="ctrl.bOperacaoItem == 'L'">
                                    <thead>
                                        <tr>
                                            <th class="text-left">MONTANTE</th>
                                            <th class="text-left" width="60%">Discriminação do Serviço</th>
                                            <th class="text-right">Quantidade</th>
                                            <th class="text-right">Preço Unitário</th>
                                            <th class="text-left">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ctrl.currentRecord.lista_Itens" ng-if="item.FlagExcOrAlter!='E'">
                                            <td>
                                                {{item.MONTANTE}}
                                            </td>
                                            <td>
                                                {{item.DESCRICAO}}
                                            </td>
                                            <td class="text-right">
                                                {{item.QUANTIDADE}}
                                            </td>
                                            <td class="text-right">
                                                {{item.PRECO_UNITARIO}}
                                            </td>
                                            <td>
                                                <button data-action="removeRow" class="btn btn-danger btn-sm hidden-print"
                                                        ng-click="formitens.$setDirty(); ctrl.removeItens(item,ctrl.SweetAlert)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                                <button data-action="editRow" class="btn btn-primary btn-sm hidden-print"
                                                        ng-click="formitens.$setDirty(); ctrl.EditItem(item)">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </tab>

                        <tab heading="Observações">
                            <tab-heading> Observações </tab-heading>
                            <fieldset>
                                <luar-textarea container-class="col-md-12" label="Descriminação" name="DISCRIMINACAO"
                                               ng-model="ctrl.currentRecord.DISCRIMINACAO">
                                </luar-textarea>
                                <luar-textarea container-class="col-md-12" style="height: 150px" readonly name="OBS_MONTADA"
                                               ng-model="ctrl.currentRecord.OBS_MONTADA">
                                </luar-textarea>
                            </fieldset>
                        </tab>

                        <tab heading="Impostos">
                            <tab-heading> Impostos </tab-heading>
                            <fieldset>
                                <div class="row">
                                    <luar-textvalor container-class="col-md-2" label="ISSQN Base" name="ISSQN_BASE"
                                                    ng-model="ctrl.currentRecord.ISSQN_BASE">
                                    </luar-textvalor>

                                    <luar-textvalor container-class="col-md-2" label="Alíquota" name="ISSQN_ALIQUOTA"
                                                    ng-model="ctrl.currentRecord.ISSQN_ALIQUOTA">
                                    </luar-textvalor>

                                    <luar-textvalor container-class="col-md-2" label="Valor" readonly name="ISSQN_VALOR"
                                                    ng-model="ctrl.currentRecord.ISSQN_VALOR">
                                    </luar-textvalor>

                                    <luar-check-group class="col-md-2">
                                        <input luar-check label="ISSQN Retido" ng-false-value="'N'" ng-true-value="'S'" name="ISS_RETIDO"
                                               ng-model="ctrl.currentRecord.ISS_RETIDO" />

                                        <input luar-check label="Rps Substituido" ng-false-value="'N'" ng-true-value="'S'" name="RPSSUBSTITUIDO"
                                               ng-model="ctrl.currentRecord.RPSSUBSTITUIDO" />
                                    </luar-check-group>
                                </div>

                                <div class="row">
                                    <luar-textvalor container-class="col-md-2" label="IRRF Base" name="IRRF_BASE"
                                                    ng-model="ctrl.currentRecord.IRRF_BASE">
                                    </luar-textvalor>

                                    <luar-textvalor container-class="col-md-2" label="Alíquota" name="IRRF_ALIQUOTA"
                                                    ng-model="ctrl.currentRecord.IRRF_ALIQUOTA">
                                    </luar-textvalor>

                                    <luar-textvalor container-class="col-md-2" label="Valor" readonly name="IRRF_VALOR"
                                                    ng-model="ctrl.currentRecord.IRRF_VALOR">
                                    </luar-textvalor>
                                </div>

                                <div class="row">
                                    <luar-textvalor container-class="col-md-2" label="CSLL Base" name="CSLL_BASE"
                                                    ng-model="ctrl.currentRecord.CSLL_BASE">
                                    </luar-textvalor>

                                    <luar-textvalor container-class="col-md-2" label="Alíquota" name="CSLL_ALIQUOTA"
                                                    ng-model="ctrl.currentRecord.CSLL_ALIQUOTA">
                                    </luar-textvalor>

                                    <luar-textvalor container-class="col-md-2" label="Valor" readonly name="CSLL_VALOR"
                                                    ng-model="ctrl.currentRecord.CSLL_VALOR">
                                    </luar-textvalor>
                                </div>

                                <div class="row">
                                    <luar-textvalor container-class="col-md-2" label="COFINS Base" name="COFINS_BASE"
                                                    ng-model="ctrl.currentRecord.COFINS_BASE"
                                                    ng-change="ctrl.CalculaCOFINS()">
                                    </luar-textvalor>

                                    <luar-textvalor container-class="col-md-2" label="Alíquota" name="COFINS_ALIQUOTA"
                                                    ng-model="ctrl.currentRecord.COFINS_ALIQUOTA"
                                                    ng-change="ctrl.CalculaCOFINS()">
                                    </luar-textvalor>

                                    <luar-textvalor container-class="col-md-2" label="Valor" readonly name="COFINS_VALOR"
                                                    ng-model="ctrl.currentRecord.COFINS_VALOR">
                                    </luar-textvalor>
                                </div>

                                <div class="row">
                                    <luar-textvalor container-class="col-md-2" label="INSS Base" name="INSS_BASE"
                                                    ng-model="ctrl.currentRecord.INSS_BASE">
                                    </luar-textvalor>

                                    <luar-textvalor container-class="col-md-2" label="Alíquota" name="INSS_ALIQUOTA"
                                                    ng-model="ctrl.currentRecord.INSS_ALIQUOTA">
                                    </luar-textvalor>

                                    <luar-textvalor container-class="col-md-2" label="Valor" readonly name="INSS_VALOR"
                                                    ng-model="ctrl.currentRecord.INSS_VALOR">
                                    </luar-textvalor>
                                </div>

                            </fieldset>
                        </tab>
                    </tabset>
                </fieldset>
            </tab>
        </tabset>

    </luar-main-form>

</luar-crud>




