<luar-crud crud="ctrl" title="Cadastro de Colaboradores">

    <luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="CODIGO" title="Código" searchable="true"></column>
        <column id="FANTASIA" title="Fantasia" searchable="true"></column>
        <luar-table></luar-table>
    </luar-list>

    <luar-main-form ng-show="Cadastro">
        <tabset>
            <tab heading="Dados Gerais">
                <tab-heading> Dados Gerais </tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Código" name="codigo" type="number" required
                                   ng-model="ctrl.currentRecord.CODIGO">
                        </luar-text>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-12" label="Nome" maxlength="60" required
                                   name="NOME" ng-model="ctrl.currentRecord.FANTASIA">
                        </luar-text>
                    </div>
                    
                </fieldset>
            </tab>
        </tabset>

    </luar-main-form>

</luar-crud>




