<luar-crud crud="ctrl" title="Cadastro de Serviço">

    <luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="CODIGO_SERVICO" title="Código Serviço" searchable="true"></column>
        <column id="NOME" title="Nome" searchable="true"></column>
        <column id="DESCRICAO_NOTA" title="Descrição Nota" searchable="true"></column>
        <column id="REGIMEESPECIALTRIBUTACAO" title="Regime Especial Tributário"></column>
        <column id="CODIGOTRIBUTACAOMUNICIPIO" title="Cód. Tributação Município"></column>
        <luar-table></luar-table>
    </luar-list>

    <luar-main-form ng-show="Cadastro">
        <tabset>
            <tab heading="Dados Gerais">
                <tab-heading> Dados Gerais </tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-12" label="Cidade"
                                   name="CODIGO_CIDADE" required style="display:none" ng-model="ctrl.currentRecord.CODIGO_CIDADE">
                        </luar-text>

                        <div class="col-md-12 ng-scope" name="CODIGO_CIDADE">
                            <md-autocomplete flex
                                             md-selected-item="ctrl.selectedItem"
                                             md-search-text="ctrl.searchText"
                                             md-selected-item-change="ctrl.selectedItemChange(item)"
                                             md-items="item in ctrl.querySearch(ctrl.searchText)"
                                             md-item-text="item.NOME_CIDADE"
                                             md-delay="300"
                                             md-min-length="2"
                                             placeholder="Pesquisar Cidades">
                                <div layout="row" class="item" layout-align="start center">
                                    <span md-highlight-text="ctrl.searchText">{{item.NOME_CIDADE}}</span>
                                    <label> &nbsp; - ({{item.CODIGO_IBGE}})</label>
                                </div>
                            </md-autocomplete>
                        </div>
                    </div>

                    <div class="row">
                        <luar-select container-class="col-md-3" label="Serviço" name="SERVICO" required
                                     ng-options="item.id as (item.CODIGO + ' - ' + item.NOME)  for item in ::ctrl.servicoLook"
                                     ng-model="ctrl.currentRecord.COD_CADSERVICO">
                        </luar-select>
                    </div>

                    <div class="row">
                        <luar-text type="number" wt-number container-class="col-md-3" label="Valor ISS" required name="valoriss" ng-model="ctrl.currentRecord.ISS_VLR"></luar-text>
                        <luar-text type="number" wt-number container-class="col-md-3" label="Percentual ISS" required name="perciss" ng-model="ctrl.currentRecord.ISS_PERC"></luar-text>

                        <luar-text type="number" wt-number container-class="col-md-3" label="Valor IRRF" required name="valorirr" ng-model="ctrl.currentRecord.IRR_VLR"></luar-text>
                        <luar-text type="number" wt-number container-class="col-md-3" label="Percentual IRR" required name="percirr" ng-model="ctrl.currentRecord.IRR_PERC"></luar-text>

                    </div>
                    <div class="row">
                        <luar-text type="number" wt-number container-class="col-md-3" label="Valor PIS" required name="valorpis" ng-model="ctrl.currentRecord.PIS_VLR"></luar-text>
                        <luar-text type="number" wt-number container-class="col-md-3" label="Percentual PIS" required name="percpis" ng-model="ctrl.currentRecord.PIS_PERC"></luar-text>

                        <luar-text type="number" wt-number container-class="col-md-3" label="Valor COFINS" required name="valorcofins" ng-model="ctrl.currentRecord.COFINS_VLR"></luar-text>
                        <luar-text type="number" wt-number container-class="col-md-3" label="Percentual Cofins" required name="percofins" ng-model="ctrl.currentRecord.COFINS_PERC"></luar-text>

                    </div>
                    <div class="row">
                        <luar-text type="number" wt-number container-class="col-md-3" label="Valor CSLL" required name="valorcsll" ng-model="ctrl.currentRecord.CSLL_VLR"></luar-text>
                        <luar-text type="number" wt-number container-class="col-md-3" label="Percentual CSLL" required name="percsll" ng-model="ctrl.currentRecord.CSLL_PERC"></luar-text>

                        <luar-text type="number" wt-number container-class="col-md-3" label="Valor INSS" required name="valorinss" ng-model="ctrl.currentRecord.INSS_VLR"></luar-text>
                        <luar-text type="number" wt-number container-class="col-md-3" label="Percentual INSS" required name="percinss" ng-model="ctrl.currentRecord.INSS_PERC"></luar-text>

                    </div>

                </fieldset>
            </tab>
        </tabset>

    </luar-main-form>

</luar-crud>




