<luar-crud crud="ctrl" title="Menu">

    <luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="id" title="Código" searchable="true"></column>
        <column id="MENU" title="Menu" searchable="true"></column>
        <column id="GRUPO" title="Grupo" searchable="true"></column>
        <column id="DESCRICAO" title="Descrição" searchable="true"></column>
        <column id="DLL" title="DLL" searchable="true"></column>
        <luar-table></luar-table>
    </luar-list>

    <luar-main-form ng-show="Cadastro">
        <tabset>
            <tab heading="Dados Gerais">
                <tab-heading> Dados Gerais </tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-6" label="Menu" name="menu" required maxlength="70" 
                                   ng-model="ctrl.currentRecord.MENU"></luar-text>
                        <luar-text container-class="col-md-6" label="Grupo" type="number" name="grupo"
                                   ng-model="ctrl.currentRecord.GRUPO"></luar-text>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-12" label="Descrição" maxlength="70" name="descricao" 
                                   ng-model="ctrl.currentRecord.DESCRICAO"></luar-text>
                    </div>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="DLL" maxlength="70" name="DLL" 
                                   ng-model="ctrl.currentRecord.DLL"></luar-text>
                        <luar-text container-class="col-md-3" label="Ordem" type="number" required name="ORDEM"
                                   ng-model="ctrl.currentRecord.ORDEM"></luar-text>
                        <luar-text container-class="col-md-6" label="Caminho Banco" maxlength="100" name="CAMINHO_BANCO"
                                   ng-model="ctrl.currentRecord.CAMINHO_BANCO"></luar-text>
                    </div>

                    <div class="row">
                        <luar-check container-class="col-md-3" label="Gravar Log" name="GRAVAR_LOG"
                                   ng-false-value="'N'" ng-true-value="'S'"
                                   ng-model="ctrl.currentRecord.GRAVA_LOG"></luar-check>
                    </div>
                    <div class="row">
                        <luar-check container-class="col-md-3" label="Programa Auxiliar" name="PROGRAMA_AUXILIAR"
                                    ng-false-value="'N'" ng-true-value="'S'"
                                    ng-model="ctrl.currentRecord.PROGRAMA_AUXILIAR"></luar-check>
                    </div>
                    <div class="row">
                        <luar-check container-class="col-md-3" label="Multi Empresa" name="EMP"
                                    ng-false-value="'N'" ng-true-value="'S'"
                                    ng-model="ctrl.currentRecord.EMP"></luar-check>
                    </div>

                </fieldset>
            </tab>
        </tabset>

    </luar-main-form>

</luar-crud>




