<luar-crud crud="ctrl" title="Cadastro de Serviço">

    <luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="CODIGO_SERVICO" title="Código Serviço" searchable="true"></column>
        <column id="NOME" title="Nome" searchable="true"></column>
        <column id="DESCRICAO_NOTA" title="Descrição Nota" searchable="true"></column>
        <column id="REGIMEESPECIALTRIBUTACAO" title="Regime Especial Tributário"></column>
        <column id="CODIGOTRIBUTACAOMUNICIPIO" title="Cód. Tributação Município"></column>
        <luar-table></luar-table>
    </luar-list>

    <luar-main-form ng-show="Cadastro">
        <tabset>
            <tab heading="Dados Gerais">
                <tab-heading> Dados Gerais </tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-3" maxlength="10" label="Código Serviço" name="CODIGO_SERVICO"                                   
                                   ng-model="ctrl.currentRecord.CODIGO_SERVICO">
                        </luar-text>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-8" label="Nome" maxlength="80" 
                                   name="NOME" ng-model="ctrl.currentRecord.NOME">
                        </luar-text>
                    </div>
                    <div class="row">
                        <luar-textarea container-class="col-md-12" label="Descrição Nota" maxlength="200" 
                                   name="DESCRICAO_NOTA" ng-model="ctrl.currentRecord.DESCRICAO_NOTA">
                        </luar-textarea>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-3" label="Regime Especial Tributário" 
                                   type="number" name="REGIMEESPECIALTRIBUTACAO"
                                   ng-model="ctrl.currentRecord.REGIMEESPECIALTRIBUTACAO">
                        </luar-text>

                        <luar-text container-class="col-md-3" label="Cód. Tributação Município"
                                   type="number" name="CODIGOTRIBUTACAOMUNICIPIO"
                                   ng-model="ctrl.currentRecord.CODIGOTRIBUTACAOMUNICIPIO">
                        </luar-text>
                    </div>
                    
                </fieldset>
            </tab>
        </tabset>

    </luar-main-form>

</luar-crud>




