<luar-crud crud="ctrl" title="Contratos">

    <luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="CODIGO_MUNICIPIO" title="Código Município" searchable="true"></column>
        <column id="CEMP" title="Descrição" searchable="Empresa"></column>
        <column id="CERTIFICADO_SERIE" title="Certificado" searchable="true"></column>
        <luar-table></luar-table>
    </luar-list>

    <luar-main-form ng-show="Cadastro">
        <tabset>
            <tab heading="Dados Gerais">
                <tab-heading> Dados Gerais </tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-2" label="Código Município" required name="codigomunicipio" ng-model="ctrl.currentRecord.CODIGO_MUNICIPIO"></luar-text>
                        <luar-text container-class="col-md-2" label="Exigibilidade ISSQN" required name="exigibilidadeiss" ng-model="ctrl.currentRecord.EXIGIBILIDADEISS"></luar-text>
                        <luar-text maxlength="5" container-class="col-md-2" label="Série Padrão" name="seriepadrao" ng-model="ctrl.currentRecord.SERIE_PADRAO"></luar-text>
                        <luar-text type="email" pattern="[^ @]*@[^ @]*" maxlength="150" container-class="col-md-6" label="Email" name="email" ng-model="ctrl.currentRecord.EMAIL"></luar-text>

                    </div>

                    <div class="row">
                        <luar-text maxlength="20" container-class="col-md-6" label="Senha" name="senha" ng-model="ctrl.currentRecord.SENHA"></luar-text>
                        <luar-text maxlength="80" container-class="col-md-6" label="Frase Secreta" name="frasesecreta" ng-model="ctrl.currentRecord.FRASE_SECRETA"></luar-text>
                    </div>
                    <div class="row">
                        <luar-text maxlength="40" container-class="col-md-4" label="Série Certificado" name="seriecertificado" ng-model="ctrl.currentRecord.CERTIFICADO_SERIE"></luar-text>
                        <luar-text maxlength="30" container-class="col-md-4" label="Senha Certificado" name="senhacertificado" ng-model="ctrl.currentRecord.CERTIFICADO_SENHA"></luar-text>
                        <luar-text maxlength="40" container-class="col-md-4" label="Usuário Web" name="usuarioweb" ng-model="ctrl.currentRecord.USER_WEB"></luar-text>
                    </div>
                    <div class="row">
                        <luar-text container-class="col-md-4" label="Natureza Padrão" name="naturezapadrao" required ng-model="ctrl.currentRecord.NATUREZA_PADRAO"></luar-text>
                        <luar-text container-class="col-md-4" label="Regime Especial Tributação" name="regimeespecialtributacao" required ng-model="ctrl.currentRecord.REGIMEESPECIALTRIBUTACAO"></luar-text>
                        <luar-text container-class="col-md-4" type="number" label="Condição de Pagamento" name="condicaopagamento" ng-model="ctrl.currentRecord.COD_CADCPAG_PADRAO"></luar-text>
                    </div>
                    <div class="row">
                        <luar-text container-class="col-md-4" type="number" label="Código CNAE" name="codigocnae" ng-model="ctrl.currentRecord.CODIGOCNAE"></luar-text>
                        <luar-text container-class="col-md-4" type="number" label="Tipo de Serviço" name="tiposervico" ng-model="ctrl.currentRecord.TIPO_SERVICO"></luar-text>
                        <luar-text container-class="col-md-4" type="number" label="Código Banco" name="codigobanco" ng-model="ctrl.currentRecord.COD_CADBANCO"></luar-text>

                    </div>
                    <div class="row">
                        <luar-textarea maxlength="200" container-class="col-md-12" label="Prefeitura" name="prefeitura" ng-model="ctrl.currentRecord.PREFEITURA">
                        </luar-textarea>
                    </div>
                    <div class="row">
                        <luar-text typeof="number" container-class="col-md-3" label="Consulta Retorno" name="aguardeconsultaretorno" ng-model="ctrl.currentRecord.AGUARDARCONSULTARETORNO">
                        </luar-text>
                        <luar-text typeof="number" container-class="col-md-3" label="Intervalo de Tentativas" name="intervalotentativas" ng-model="ctrl.currentRecord.INTERVALOTENTATIVAS">
                        </luar-text>

                    </div>
                    
                    <div class="row">
                        <luar-check-group container-class="col-md-3">
                            <input luar-check label="Optante Simples Nacional" ng-false-value="'N'" ng-true-value="'S'" required ng-model="ctrl.currentRecord.OPTANTESIMPLESNACIONAL" />
                            <input luar-check label="Incentivador Cultural" ng-false-value="'N'" ng-true-value="'S'" required ng-model="ctrl.currentRecord.INCENTIVADORCULTURAL" />
                            <input luar-check label="Produção" ng-false-value="'N'" ng-true-value="'S'" required ng-model="ctrl.currentRecord.PRODUCAO" />
                        </luar-check-group>

                        <luar-check-group container-class="col-md-3">
                            <input luar-check label="Tipo RPS" ng-false-value="'N'" ng-true-value="'S'" ng-model="ctrl.currentRecord.TIPO_RPS" />
                            <input luar-check label="Use Certificado" ng-false-value="'N'" ng-true-value="'S'" ng-model="ctrl.currentRecord.USECERTIFICADO" />
                            <input luar-check label="ISS Retido" ng-false-value="'N'" ng-true-value="'S'" ng-model="ctrl.currentRecord.ISSRETIDO" />
                            <input luar-check label="Imprimir Parcelas" ng-false-value="'N'" ng-true-value="'S'" ng-model="ctrl.currentRecord.IMPRIMIR_LISTA_PARCELAS" />

                        </luar-check-group>
                    </div>


                </fieldset>
            </tab>
        </tabset>

    </luar-main-form>

</luar-crud>




