<luar-crud crud="ctrl" title="Tabela Nomes">

    <luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="TIPO" title="Tipo" searchable="true"></column>
        <column id="CODIGO" title="Código" searchable="true"></column>
        <column id="DESCRICAO" title="Descrição" searchable="true"></column>
        <column id="SISTEMA" title="Sistema" searchable="true"></column>
        <luar-table></luar-table>
    </luar-list>

    <luar-main-form ng-show="Cadastro">
        <tabset>
            <tab heading="Dados Gerais">
                <tab-heading> Dados Gerais </tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Tipo" name="tipo" ng-model="ctrl.currentRecord.TIPO"></luar-text>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-3" label="Código" name="codigo" ng-model="ctrl.currentRecord.CODIGO"></luar-text>
                    </div>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Descrição" style='text-transform:uppercase' name="descricao" ng-model="ctrl.currentRecord.DESCRICAO"></luar-text>
                    </div>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Sistema" name="sistema" ng-model="ctrl.currentRecord.SISTEMA"></luar-text>
                    </div>
                </fieldset>
            </tab>
        </tabset>

    </luar-main-form>

</luar-crud>




