<luar-crud crud="ctrl" title="Cadastro de Empresas">

    <luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="CEMP" title="Código" searchable="true"></column>
        <column id="NOME" title="Nome" searchable="true"></column>
        <column id="FANTASIA" title="Fantasia" searchable="true"></column>
        <luar-table></luar-table>
    </luar-list>

    <luar-main-form ng-show="Cadastro">
        <tabset>
            <tab heading="Dados Gerais">
                <tab-heading> Dados Gerais </tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-2" label="Código" name="codigo" required ng-model="ctrl.currentRecord.CEMP"></luar-text>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-12" label="Nome"  name="nome" ng-model="ctrl.currentRecord.NOME" required></luar-text>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-12" label="Fantasia" name="nome" ng-model="ctrl.currentRecord.FANTASIA" required></luar-text>
                    </div>  
                </fieldset>
            </tab>
        </tabset>
    </luar-main-form>

</luar-crud>




